
{%load static%}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
        <!-- <title>Popup Login Form Design | CodingNepal</title> -->
        <link rel="stylesheet" href="{%static 'css/login.css'%}" />
<style>
    .container{
        width: 400px;
    }
</style>
        
    </head>
    <body>
        <div class="center">
      
            <div class="container">
                
                <div class="text">Password Reset</div>
                {%if messages%}
                {%for i in messages%}
                <font  color="red" >*{{i}}</font> 
                {%endfor%}
                {%endif%}
                <form method="post">
                  {%csrf_token%}
                    <div class="data">
                        <label>Email</label>
                        <input type="text" name="email" required />
                    </div>
                    
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Send Email</button>
                    </div>
    
                    <div class="signup-link">
                        Not a member? <a href="/accounts/signup">Signup now</a>
                    </div>
                </form>
                
               
            </div>
        </div>
    </body>
</html>







