{%extends 'header.html'%}
{%block main%}

<div style="display: flex;">
    <div>
        <img width="200px" src="https://media.istockphoto.com/id/1333742146/photo/tree-branch-with-cotton-flowers-on-white-background.jpg?s=612x612&w=0&k=20&c=AuiO_rCmM9NIAMMOuXgo3Xm9gJT67SgKGh0iNkbJ8PA=" alt="">
        <h5>Cotton</h5>
        <a href="/products/buy/cotton/">Buy</a>  <a href="/products/sell/cotton/">Sell</a>
    </div>
    <div>
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8wm3rwQwpchDqvYPm_x-Nk-x6v5vchYBPdA&s" alt="">
        <h5>Paddy</h5>
        <a href="/products/buy/paddy/">Buy</a>  <a href="/products/sell/paddy/">Sell</a>
    </div>
    <div>
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1vqLq9nmzruu_8ET_3pckyNIuLolf4KVQGw&s" alt="">
        <h5>Coconut</h5>
        <a href="/products/buy/coconut/">Buy</a>  <a href="/products/sell/coconut/">Sell</a>
    </div>
    <div>
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPDi7461mN2OuKTNi_W7yeRIk0khxb2GsOyg&s" alt="">
        <h5>Apples</h5>
        <a href="/products/buy/apples/">Buy</a>  <a href="/products/sell/apples/">Sell</a>
    </div>
</div>
{%endblock%}