{% extends 'header.html' %}
{% block main %}
<a href="/myproducts">My products</a>
<div style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 20px;">
    <div style="text-align: center; margin: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img width="200px" src="https://media.istockphoto.com/id/1333742146/photo/tree-branch-with-cotton-flowers-on-white-background.jpg?s=612x612&w=0&k=20&c=AuiO_rCmM9NIAMMOuXgo3Xm9gJT67SgKGh0iNkbJ8PA=" alt="">
        <h5 style="margin-top: 10px;">Cotton</h5>
        <div style="margin-top: 10px;">
            <a href="/products/buy/cotton/" style="margin-right: 10px; text-decoration: none; color: white; background-color: #28a745; padding: 5px 10px; border-radius: 5px;">Buy</a>
            <a href="/products/sell/cotton/" style="text-decoration: none; color: white; background-color: #dc3545; padding: 5px 10px; border-radius: 5px;">Sell</a>
        </div>
    </div>
    <div style="text-align: center; margin: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8wm3rwQwpchDqvYPm_x-Nk-x6v5vchYBPdA&s" alt="">
        <h5 style="margin-top: 10px;">Paddy</h5>
        <div style="margin-top: 10px;">
            <a href="/products/buy/paddy/" style="margin-right: 10px; text-decoration: none; color: white; background-color: #28a745; padding: 5px 10px; border-radius: 5px;">Buy</a>
            <a href="/products/sell/paddy/" style="text-decoration: none; color: white; background-color: #dc3545; padding: 5px 10px; border-radius: 5px;">Sell</a>
        </div>
    </div>
    <div style="text-align: center; margin: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1vqLq9nmzruu_8ET_3pckyNIuLolf4KVQGw&s" alt="">
        <h5 style="margin-top: 10px;">Coconut</h5>
        <div style="margin-top: 10px;">
            <a href="/products/buy/coconut/" style="margin-right: 10px; text-decoration: none; color: white; background-color: #28a745; padding: 5px 10px; border-radius: 5px;">Buy</a>
            <a href="/products/sell/coconut/" style="text-decoration: none; color: white; background-color: #dc3545; padding: 5px 10px; border-radius: 5px;">Sell</a>
        </div>
    </div>
    <div style="text-align: center; margin: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <img width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPDi7461mN2OuKTNi_W7yeRIk0khxb2GsOyg&s" alt="">
        <h5 style="margin-top: 10px;">Apples</h5>
        <div style="margin-top: 10px;">
            <a href="/products/buy/apples/" style="margin-right: 10px; text-decoration: none; color: white; background-color: #28a745; padding: 5px 10px; border-radius: 5px;">Buy</a>
            <a href="/products/sell/apples/" style="text-decoration: none; color: white; background-color: #dc3545; padding: 5px 10px; border-radius: 5px;">Sell</a>
        </div>
    </div>
</div>

{% endblock %}