{%extends 'header.html'%}
{%load static%}
{%block main%}
<html>
<center>
    <div >
        <img src="{%static 'images/rbi.png'%}"width="250px" alt=""><br>
        <a href="https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini">https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini</a>
    </div>
    <div >
        <img src="{%static 'images/rbi.png'%}"width="250px" alt=""><br>
        <a href="https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini">https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini</a>
    </div>
    <div >
        <img src="{%static 'images/rbi.png'%}"width="250px" alt=""><br>
        <a href="https://www.omidyarnetwork.in/blog/improving-credit-inclusion-in-the-agriculture-sector-why-we-invested-in-satsure#:~:text=Aiming%20to%20improve%20formal%20credit,is%20reserved%20for%20agricultural%20credit">https://www.omidyarnetwork.in/blog/improving-credit-inclusion-in-the-agriculture-sector-why-we-invested-in-satsure#:~:text=Aiming%20to%20improve%20formal%20credit,is%20reserved%20for%20agricultural%20credit</a>
    </div>
</center>
</html>
{%endblock%}