{% extends 'header.html' %}
{% load static %}
{% block main %}
<div style="max-width: 1000px; margin: 20px auto; display: flex; justify-content: space-around; text-align: center;">
    <div style="flex: 1; margin: 10px;">
        <img src="{% static 'images/rbi.png' %}" width="250px" alt="RBI Logo" style="margin-bottom: 10px;">
        <br>
        <a href="https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini" style="text-decoration: none; color: #007bff;">
            RBI Circular
        </a>
    </div>
    <div style="flex: 1; margin: 10px;">
        <img src="{% static 'images/rbi.png' %}" width="250px" alt="RBI Logo" style="margin-bottom: 10px;">
        <br>
        <a href="https://m.rbi.org.in//Scripts/BS_ViewMasCirculardetails.aspx?id=11034#:~:text=A%20flexible%20limit%20of%20%E2%82%B9,equipment(s)%2C%20establishing%20mini" style="text-decoration: none; color: #007bff;">
            RBI Circular
        </a>
    </div>
    <div style="flex: 1; margin: 10px;">
        <img src="{% static 'images/rbi.png' %}" width="250px" alt="RBI Logo" style="margin-bottom: 10px;">
        <br>
        <a href="https://www.omidyarnetwork.in/blog/improving-credit-inclusion-in-the-agriculture-sector-why-we-invested-in-satsure#:~:text=Aiming%20to%20improve%20formal%20credit,is%20reserved%20for%20agricultural%20credit" style="text-decoration: none; color: #007bff;">
            Omidyar Network Blog
        </a>
    </div>
</div>
{% endblock %}